{% extends "base.html" %}

{% block content %}

<h2>Assignment Tracker</h2>

<form method="POST">

    <input
        type="text"
        name="title"
        placeholder="Assignment Title"
        required
    >

    <input
        type="date"
        name="due_date"
        required
    >

    <select name="priority">

        <option>High</option>
        <option>Medium</option>
        <option>Low</option>

    </select>

    <button type="submit">
        Add Assignment
    </button>

</form>

<hr>

<h3>All Assignments</h3>
<form method="GET">

    <input
        type="text"
        name="search"
        placeholder="Search Assignment"
    >

    <button type="submit">
        Search
    </button>

</form>
<table>

    <tr>
    <th>Title</th>
    <th>Due Date</th>
    <th>Priority</th>
    <th>Status</th>
    <th>Actions</th>
    </tr>

    {% for assignment in assignments %}

    <tr>

    <td>{{ assignment[1] }}</td>
    <td>{{ assignment[2] }}</td>
    <td>{{ assignment[3] }}</td>
    <td>{{ assignment[4] }}</td>

    <td>

        <a class="complete-btn"
       href="{{ url_for('complete_assignment', id=assignment[0]) }}">
       Complete
       </a>

        <a class="delete-btn"
        href="{{ url_for('delete_assignment', id=assignment[0]) }}">
        Delete
        </a>

    </td>

</tr>

    {% endfor %}

</table>

{% endblock %}